.buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.login {
  width: 39%;
  padding: 47px;
  border: solid 1px rgb(219 222 225);
  border-radius: 5px;
}
.login_form {
  width: 100%;
  display: flex;
  justify-content: center;
}
button.register.btn.btn-primary {
  width: 34%;
  color: black;
  background-color: snow;
  border-color: brown;
}
/* button.btn.btn-primary {
  width: 34%;
  color: black;
  background-color: snow;
  border-color: brown;
} */
button.login.btn.btn-primary {
  width: 33%;
}
a {
  width: 94%;
}
