button.btn.btn-primary {
  width: 58%;
  color: #1c6dd0;
  background-color: #a3e4db;
}
.cards {
  display: flex;
  justify-content: space-around;
}
img.card-img-top {
  height: 40%;
}
svg.bi.bi {
  color: brown;
  margin-bottom: 4px;

  margin-right: 19px;
}
button.btn.btn-primary {
  width: 58%;
  color: black;
  background-color: snow;
  border-color: brown;
}
input.input_search.form-control {
  width: 21%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  margin-bottom: 27px;
}
